<section>
     <div class="row m-5">
        <div class="col-lg-2 col">
             <div class="product-add-to-cart-btn">
                    <a href="/getInvoice?orderId={{orderId}}"  class="btn btn-block btn-lg btn-black-default-hover" >
                        Invoice
                    </a>
            </div>
        </div>
     </div>
    
    <div class="container-fluid  dashboard-content">
        <div class="row">
             <form  action="/saveOrder" method="post" role="form">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <!-- ============================================================== -->
                        <!-- Address section -->
                        <!-- ============================================================== -->
                        <div class="card m-5 shadow-md p-3 mb-5 bg-body rounded" >
                            
                            <div class="card-body">
                                {{!-- <span class="text-uppercase fw-bold" style="color:black ;">Address</span> --}}
                                <div class="row ">
                                    {{#each address}}
                                      <span class="text-uppercase fw-bold" style="color:black;">Address</span>
                                        <div class="col-xl-10 col-lg-10 col ms-2">
                                            {{this.firstName}}  {{this.lastName}}<br>
                                            {{this.houseName}}<br>
                                            {{this.roadName}}<br>
                                            {{this.pincode}}<br>
                                            {{this.district}}
                                            {{this.state}}<br>
                                          <span class="fw-bold" style="color:rgb(58, 58, 58) ;">{{this.phoneNumber}}</span>  
                                            {{!-- <a href="/paymentMethod?addressId={{this._id}}" class="btn btn-warning text-white text-uppercases" type="submit">Deliver here</a> --}}
                                        </div>
                                    {{/each}}
                                        {{!-- <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                                            <a href="/getAddress?id={{this._id}}" class="text-primary fw-bold">{{this.status}}</a>
                                            </div> --}}
                                </div>
                            </div>
                            
                        </div>
                        <!-- ============================================================== -->
                        <!-- End address section -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- order view section -->
                        <!-- ============================================================== -->
         
                        
                        <div class="card-body m-3">
                                {{#each order}}
                                    <div class="card  shadow-md p-3 mb-2 bg-body rounded" >
                                        <div class="row ">

                                            <div class="col-lg-1 col">
                                                {{#each this.singleProdect}}
                                                <a href="/getSingleProductView?productId={{this._id}}">
                                                    <img class="ms-2 mb-4" style="width: 100px " src="/uploadImage/{{this.image.[0]}}" alt="loading image">
                                                </a>
                                                {{/each}}
                                            </div>

                                            <div class="col-lg-3 col ps-5">

                                                {{#each this.singleProdect}}
                                                    <a href="/getSingleProductView?productId={{this._id}}" class="fw-bold"> {{this.productName}}</a>    
                                                {{/each}} 
                                                <div class="row">   
                                                    <div class="col ">  
                                                            order quantity :                  
                                                            <input class="text-bold" style="position: absolute;" 
                                                            type="int"   value="{{this.product.productCount}}">
                                                    </div>
                                                </div>

                                                <div class="row">   
                                                    <div class="col ">  
                                                            price :<i class="bi bi-currency-rupee" ></i>                   
                                                            <input class="text-bold" style="position: absolute;" 
                                                            type="int"   value="{{this.singleProductPayPrice}}">
                                                    </div>
                                                </div>
                                                <div class="row">   
                                                    <div class="col">  
                                                            save price :<i class="bi bi-currency-rupee" ></i>                   
                                                            <input class="text-bold" style="position: absolute;" 
                                                            type="int"   value="{{this.singleProductSavePrice}}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col mt-2">
                                                <a href="/deleteOrder?id={{this._id}}&productId={{this.product.productId}}" class="btn btn-block  btn-black-default-hover" 
                                                    onclick="return confirm('Do you want to cancel this order?')" >Cancel Order
                                                </a>
                                            </div>
                                            </div>

                                                <div class="col-lg-8 col mt-4 ">
                                                    <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">

                                                        {{#each this.product.orderStatus}}
                                                            <div class="timeline-step">
                                                                <div class="timeline-content" data-toggle="popover"
                                                                    data-trigger="hover" data-placement="top" title=""
                                                                    data-original-title="2003">
                                                                    <div class="inner-circle"></div>
                                                                    <p class="mt-3 mb-1">{{this.status}}</p>
                                                                    <p class="text-muted mb-0 mb-lg-0">{{this.date}}</p>
                                                                </div>
                                                            </div>
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            {{!-- <div class="col-lg-2 col">
                                                <a href="/deleteOrder?id={{this._id}}&productId={{this.product.productId}}" class="btn btn-block  btn-black-default-hover" 
                                                    onclick="return confirm('Do you want to cancel this order?')" >Cancel Order
                                                </a>
                                            </div> --}}
                                    </div>
                                {{/each}}
                        </div>
                            
                        <!-- ============================================================== -->
                        <!-- End order view section -->
                        <!-- ============================================================== -->
                    </div>
                </div>
             </form>
        </div>
  </div>
</section> 
<style>
    body{
        padding: 0%;
        margin: 0%;
    }
    .timeline-steps {
        display: flex;
        flex-wrap: wrap
    }

    .timeline-steps .timeline-step {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0.4rem
    }

    @media (min-width:768px) {
        .timeline-steps .timeline-step:not(:last-child):after {
            content: "";
            display: block;
            border-top: .25rem dotted #3b82f6;
            width: 3.46rem;
            position: absolute;
            left: 7.5rem;
            top: .3125rem
        }

        .timeline-steps .timeline-step:not(:first-child):before {
            content: "";
            display: block;
            border-top: .25rem dotted #3b82f6;
            width: 3.8125rem;
            position: absolute;
            right: 7.5rem;
            top: .3125rem
        }
    }

    .timeline-steps .timeline-content {
        width: 7rem;
        text-align: center
    }

    .timeline-steps .timeline-content .inner-circle {
        border-radius: 1rem;
        height: 1rem;
        width: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #3b82f6
    }

    .timeline-steps .timeline-content .inner-circle:before {
        content: "";
        background-color: #abdff0;
        display: inline-block;
        height: 2rem;
        width: 0rem;
        min-width: 2rem;
        border-radius: 6.25rem;
        opacity: 0.5;
    }
</style>